<p>practice works!</p>

<!-- <h1>Angular Deferrable Views Demo</h1>
<p>Scroll down to load the component 👇</p>

<div style="height: 400px;"></div>

@defer (when visible) {
  <p>hello</p>
} @placeholder {
  <p>⏳ Waiting to become visible...</p>
} @loading {
  <p>🔄 Loading...</p>
} @error {
  <p>❌ Error loading component.</p>
} -->

<p>forms</p>

<p>Username: {{ username }}</p>
<p>{{ username }}'s favorite framework: {{ favoriteFramework }}</p>
<label for="framework">
  Favorite Framework:
  <input id="framework" type="text" [(ngModel)]="favoriteFramework" />
</label>

<!-- parent class -->
<app-parent-class />

<hr />
<h1>posts</h1>

<app-post-free-api />
